#info {
  position: absolute;
  width: 480px;
  top: 1%;
  bottom: 1%;
  left: .5%;
  z-index: 1000;
  background: #343a40;
  color: white;
  opacity: 1;
  padding: 40px 15px 20px 15px;
}



#wq {
  min-height: 200px;
  min-width: 480px;
}

.station {
  color: brown;
  opacity: 1;
  /* text-shadow: 1px 1px 1px black; */
}

.pop {
  color: crimson;
  opacity: 0.8;
  text-shadow: 1px 1px 1px grey;
}


#upper_panel{
  position: absolute;
  z-index: 1010;
  /* margin: 100px;
  padding: 100px 100px; */
  left: 20px;

  top: 60px;
}

#timeline-chart .c3-axis-y .tick {
   display: none;
}


#timeline-chart {
  position: relative;
  top: -75px;
  /* margin: 100px */
  left: 50px;
}

#date {
  position: relative;
  min-width: 10px;
  /* left: 0px; */
  background:rgba(225, 225, 225, 0);
  text-align: left;
  color: black;
    font-family: 'Oswald', sans-serif;
  /* font-family: 'Titillium Web', sans-serif; */
  font-size: 48px;
}

input[type=text] {
    /* padding:5px; */
    border:2px solid rgba(225, 225, 225, 0);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    /* border:2px solid #ccc; */
    font-weight: bold;
    text-shadow: 0 0 0.1em white, 0 0 0.1em white,
      0 0 0.1em white, 0 0 0.1em white, 0 0 0.1em;
}


/* switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}


/* switch */

.legend {
line-height: 20px;
}


.legend i {
width: 16px;
height: 16px;
float: left;
margin-bottom: 2px;
margin-right: 8px;
opacity: 0.9;
}

.legend p {
font-size: 12px;
margin: 0;
}
